node_modules/
.idea/
*.iml

# `pip install .` copies the package, pom.xml included, into build/. Left untracked
# it also feeds the Dependabot generator a second, bogus maven directory.
build/
dist/
*.egg-info/
__pycache__/
